src/main/resources/wsdl/amdocs/Linha_103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Catalogo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.vivo.com.br/MC/Catalogo">
  <xs:complexType name="StatusProduto">
    <xs:sequence>
      <xs:element name="ultimaAcao" type="xs:string" minOccurs="0"/>
      <xs:element name="descricao" type="xs:string" minOccurs="0"/>
      <xs:element name="data" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>