src/main/resources/wsdl/amdocs/Linha_87.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--* ER/Studio 7.5 XML Schema Generation
	* Project:		Canonico.dm1
	* Version:		1.0
	* Date Created:	19/3/2008--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Catalogo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.vivo.com.br/MC/Catalogo">
  <xs:complexType name="ImagemModelo">
    <xs:annotation>
      <xs:documentation>Mantem informacoes das imagens dos modelos de produtos
				disponiveis.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica uma imagem.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="imagem" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Link para imagem do produto.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="siglaClassificacao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sigla da Classificacao da imagem</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nomeClassificacao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Nome da Classificacao da imagem</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImagensModelo">
    <xs:sequence>
      <xs:element name="imagemModelo" type="cat:ImagemModelo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>