src/main/resources/wsdl/amdocs/Linha_168.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--* ER/Studio 7.5 XML Schema Generation
	* Project:		Canonico.dm1
	* Version:		1.0
	* Date Created:	02/12/2012--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Assinatura" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ass="http://www.vivo.com.br/MC/Assinatura" xmlns:ger="http://www.vivo.com.br/MC/Geral">
  <xs:import namespace="http://www.vivo.com.br/MC/Geral" schemaLocation="Linha_169.xsd"/>
  <xs:complexType name="SubTipoLinha">
    <xs:annotation>
      <xs:documentation>Sub Tipo de Linha.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica o Sub tipo de Linha.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sigla" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sigla que identifica o Sub tipo de Linha.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descricao que identifica o Sub tipo de Linha.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sistemaOrigem" type="ger:Sistema" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Referencia a entidade Sistema, para representar o sistema origem vinculado ao subTipoLinha.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubTiposLinha">
    <xs:sequence>
      <xs:element name="subTipoLinha" type="ass:SubTipoLinha" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>