src/main/resources/wsdl/amdocs/Linha_217.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Catalogo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.vivo.com.br/MC/Catalogo">
  <xs:include schemaLocation="Linha_93.xsd"/>
  <xs:complexType name="OfertaServico">
    <xs:annotation>
      <xs:documentation>Mantem informacoes de todos os pacotes de servicos
				disponiveis na Matriz para um produto e plano.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica uma OfertaServico.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nome" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Nome da OfertaServico.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="calculosPreco" type="cat:CalculosPreco" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Referencia a Entidade CalculosPreco.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!--Elemento Planos criado por Dilmara em 03/08/2011-->
      <xs:element name="planos" type="cat:Planos" minOccurs="0" maxOccurs="1"/>
      <xs:element name="codigoOfertaSistemaOrigem" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aprovadoAnaliseCredito" type="xs:integer" minOccurs="0" maxOccurs="1"/>
      <!--Elemento nomeCategoriaScore  e valor criado por Gisele  em 05/07/2011-->
      <xs:element name="nomeCategoriaScore" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nome da categoria da Oferta Servico no Score</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="valor" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Valor da oferta Servico.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="codigoCategoriaScore" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Codigo da categoria da Oferta Servico no Score</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfertaServicos">
    <xs:sequence>
      <xs:element name="ofertaServico" type="cat:OfertaServico" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>