src/main/resources/wsdl/amdocs/Linha_401.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/SN/Linha" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametrosBuscarDadosAssinaturaPosPago">
    <xs:sequence>
      <xs:element minOccurs="1" name="codigoLinha" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoServico" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>