src/main/resources/wsdl/amdocs/Linha_351.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/NGIN" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ngi="http://www.vivo.com.br/MC/NGIN">
  <xs:complexType name="DiaSuspensao">
    <xs:annotation>
      <xs:documentation>Mantem informacoes da quantidade de dias que a linha
				ficara suspensa.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qtdDiasSuspensao" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiasSuspensao">
    <xs:sequence>
      <xs:element name="diaSuspensao" type="ngi:DiaSuspensao" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>