src/main/resources/wsdl/amdocs/Linha_418.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vivo.com.br/SN/Linha" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lin="http://www.vivo.com.br/SN/Linha">
  <xs:complexType name="ParametrosBuscarHistoricoLinha">
    <xs:sequence>
      <xs:element name="numeroCliente" type="xs:integer" minOccurs="0"/>
      <xs:element name="codigoProdutoComercial" type="xs:integer" minOccurs="0"/>
      <xs:element name="idSistemaOrigem" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>