src/main/resources/wsdl/amdocs/Linha_420.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vivo.com.br/SN/Linha" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lin="http://www.vivo.com.br/SN/Linha">
  <xs:complexType name="ParametrosBuscarLinhasAssociadas">
    <xs:sequence>
      <xs:element name="idTroncoChave" type="xs:integer" minOccurs="1"/>
      <xs:element name="numeroPagina" type="xs:integer" minOccurs="0"/>
      <xs:element name="qtdeRegistrosPagina" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>