src/main/resources/wsdl/amdocs/Linha_269.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.2.1941 (http://www.liquid-technologies.com)--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/NFO" xmlns:nfo="http://www.vivo.com.br/MC/NFO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoAceiteOferta">
    <xs:annotation>
      <xs:documentation>Mantem cadastro dos tipos de aceite para uma oferta (argumento). Podendo ser: Sim, Nao ou Vai Pensar.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="descricao">
        <xs:annotation>
          <xs:documentation>Descricao do tipo de aceite da oferta</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="codigo">
        <xs:annotation>
          <xs:documentation>Codigo que identifica o tipo de aceite de um argumento, podendo ser 
					Sim, Nao, Vai Pensar, etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>