src/main/resources/wsdl/amdocs/Linha_189.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Pessoa" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pes="http://www.vivo.com.br/MC/Pessoa">
  <xs:complexType name="TipoAberturaProtocolo">
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiposAberturaProtocolo">
    <xs:sequence>
      <xs:element name="tipoAberturaProtocolo" minOccurs="0" maxOccurs="unbounded" type="pes:TipoAberturaProtocolo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>