src/main/resources/wsdl/amdocs/Linha_365.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Assinatura" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ass="http://www.vivo.com.br/MC/Assinatura">
  <xs:complexType name="SituacaoComercial">
    <xs:annotation>
      <xs:documentation>Situacao comercial do terminal.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Codigo da situacao comercial.
						ex: 01, 02 e etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descricao da situacao comercial.
						ex: CONTRATO EM VIGOR COM SERVICO NAO ATENDIDO, CONTRATO EM VIGOR COM SERVICO PRE-INSTALADO e etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>