src/main/resources/wsdl/amdocs/Linha_198.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.vivo.com.br/MC/Pedido" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ped="http://www.vivo.com.br/MC/Pedido">
  <complexType name="MotivoCancelamento">
    <sequence>
      <element name="codigo" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>Este elemento representa o código do motivo de
						cancelamento.</documentation>
        </annotation>
        <simpleType>
          <restriction base="int"/>
        </simpleType>
      </element>
      <element name="descricao" maxOccurs="1" minOccurs="0">
        <annotation>
          <documentation>Este elemento representa a descrição para o
						código do motivo de cancelamento.</documentation>
        </annotation>
        <simpleType>
          <restriction base="string"/>
        </simpleType>
      </element>
      <element name="motivosCancelamento" type="ped:MotivosCancelamento" maxOccurs="1" minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="MotivosCancelamento">
    <sequence>
      <element name="motivoCancelamento" maxOccurs="unbounded" minOccurs="0" type="ped:MotivoCancelamento">
        <annotation>
          <documentation>Lista de motivos de cancelamento.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>