src/main/resources/wsdl/amdocs/Linha_131.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">
  <xs:complexType name="SubTipoConta">
    <xs:annotation>
      <xs:documentation>Sub Tipo de conta.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica o Sub tipo de conta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sigla" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sigla que identifica o Sub tipo de conta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="descricao" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descricao que identifica o Sub tipo de conta.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubTiposConta">
    <xs:sequence>
      <xs:element name="subTipoConta" type="ct:SubTipoConta" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>