src/main/resources/wsdl/amdocs/Linha_284.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">
  <xs:complexType name="MotivoClienteBlackList">
    <xs:annotation>
      <xs:documentation>Mantem informacoes dos motivos pelos quais o cliente esta na Black List.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica o motivo pelo qual o cliente esta na Black List.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descricao do motivo pelo qual o cliente esta na Black List.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>