src/main/resources/wsdl/amdocs/Linha_241.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--* ER/Studio 7.5 XML Schema Generation
	* Project:		Canonico.dm1
	* Version:		1.0
	* Date Created:	13/3/2008--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Conta" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.vivo.com.br/MC/Conta">
  <xs:complexType name="TipoRelatorio">
    <xs:annotation>
      <xs:documentation>Mantem informacoes dos tipos de relatorios validos para
				a conta, podendo ser detalhado, semi-detalhado ou
				resumido.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica o tipo de relatorio que e
						emitido para a conta, podendo ser detalhado,
						semi-detalhado ou resumido.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sigla" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sigla que indica o tipo de relatorio para a
						conta.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descricao do tipo de relatorio.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>