src/main/resources/wsdl/amdocs/Linha_171.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Portabilidade" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:spn="http://www.vivo.com.br/MC/Portabilidade">
  <xs:complexType name="TipoTransacao">
    <xs:annotation>
      <xs:documentation>Entidade que identifica um tipo de transacao de
				portabilidade. Os tipos possiveis de transacao podem
				ser: portin, portout, winback ou fraude.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica um tipo de transacao de
						portabilidade: PORTIN, PORTOUT, WINBACK ou
						FRAUDE.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descricao do tipo de transacao</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiposTransacao">
    <xs:sequence>
      <xs:element name="tipoTransacao" type="spn:TipoTransacao" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>