src/main/resources/wsdl/amdocs/Linha_102.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Catalogo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.vivo.com.br/MC/Catalogo">
  <xs:include schemaLocation="Linha_76.xsd"/>
  <xs:complexType name="MotivoValidacao">
    <xs:annotation>
      <xs:documentation>Conterá o resultado das validações realizadas e que impedem a venda do Speedy.
				Caso não haja resultados da  validação a serem exibidos, a lista retornará vazia.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo de erro da validação.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="descricao" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Descrição do erro da validação relacionada ao código.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="pontoParada" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicará o ponto em que validação parou, conforme regra sequencial do programa.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MotivosValidacao">
    <xs:sequence>
      <xs:element name="motivoValidacao" type="cat:MotivoValidacao" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>