src/main/resources/wsdl/amdocs/Linha_428.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.vivo.com.br/SN/Linha" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lin="http://www.vivo.com.br/SN/Linha">
  <xs:complexType name="ParametrosConsultaOrdemAprovisionamento">
    <xs:sequence>
      <xs:element name="codigoAssinaturaSistemaOrigem" type="xs:string" minOccurs="0"/>
      <xs:element name="numeroLinha" type="xs:string" minOccurs="0"/>
      <xs:element name="codigoTransacao" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>