src/main/resources/wsdl/amdocs/Linha_262.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid XML Studio - 30 Day Trial Edition 7.1.6.1440 (http://www.liquid-technologies.com)--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/NFO" xmlns:sca="http://www.vivo.com.br/MC/SCA" xmlns:nfo="http://www.vivo.com.br/MC/NFO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Linha_5.xsd" namespace="http://www.vivo.com.br/MC/SCA"/>
  <xs:include schemaLocation="Linha_263.xsd"/>
  <xs:complexType name="Retencao">
    <xs:annotation>
      <xs:documentation>Mantem informacoes sobre um processo de retencao de
				clientes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo">
        <xs:annotation>
          <xs:documentation>Codigo sequencial que identifica unicamente uma
						retencao</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="linhasRetencao" type="nfo:RetencaoLinhas">
        <xs:annotation>
          <xs:documentation>Referencia a entidade Linhas em Assinatura para
						identificar as linhas que participam do processo
						de retencao.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="usuarioCriacao" type="sca:UsuarioSCA">
        <xs:annotation>
          <xs:documentation>Referencia a Entidade UsuarioSCA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataCriacao">
        <xs:annotation>
          <xs:documentation>Data da criacao da Retencao</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="usuarioAlteracao" type="sca:UsuarioSCA">
        <xs:annotation>
          <xs:documentation>Referencia a Entidade UsuarioSCA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dataAlteracao">
        <xs:annotation>
          <xs:documentation>Data da alteracao da Retencao</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:dateTime"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Retencoes">
    <xs:sequence>
      <xs:element name="retencao" type="nfo:Retencao" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>