src/main/resources/wsdl/amdocs/Linha_230.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.2.1941 (http://www.liquid-technologies.com)--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Catalogo" xmlns:cat="http://www.vivo.com.br/MC/Catalogo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoNegociacao">
    <xs:annotation>
      <xs:documentation>Identifica os tipos de negociacao, como valor absoluta,
				porcentagem de aumento, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true">
        <xs:annotation>
          <xs:documentation>Codigo do tipo de negociacao: A (valor
						absoluto), I (porcentagem de aumento), D
						(porcentagem de desconto).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="descricao">
        <xs:annotation>
          <xs:documentation>Descricao do tipo da negociacao.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>