src/main/resources/wsdl/amdocs/Linha_16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--* ER/Studio 7.5 XML Schema Generation
	* Project:		Canonico.dm1
	* Version:		1.0
	* Date Created:	27/2/2008--><xs:schema elementFormDefault="qualified" targetNamespace="http://www.vivo.com.br/MC/Pessoa" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ps="http://www.vivo.com.br/MC/Pessoa">
  <xs:complexType name="Pais">
    <xs:annotation>
      <xs:documentation>Mantem informacoes de pais.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codigo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo que identifica um pais.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sigla" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Sigla que representa um pais.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nome" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Nome do pais.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <!--Alterado por Dilmara Matos em 27/08/2011 50 p/255-->
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nacionalidade" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifica a nacionalidade.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codigoBancoCentral" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Codigo do Banco Central do Pais. Codigo BACEN é
						o codigo do Pais pela tabela do Banco Central.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Paises">
    <xs:sequence>
      <xs:element name="pais" type="ps:Pais" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>